/* style template */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Courier New', Courier, monospace;
}

header h1 {
  align-items: top;
  margin: 20px;
  font-size: 2.5rem;
}
p {
  margin-top: 5px;
  font-size: 1.2rem;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: gray;
}

.container {
  width:auto;
  max-width: 600px;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  text-align: center;
}

input, button{
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  border: 1px solid black;
}

#status {
  display:none;
}

#status.show {
  display: block;
}

button {
  background: rgb(84, 88, 90); /*concerned about my button [fixed bwah haha]*/
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

button:hover {
  background: rgb(240, 238, 146);
}

#deleteBtn, #editBtn {
  width: 50px; 
}

#checkbox {
  width:30px;
  height:30px;
}

ul {
  list-style: none;
  margin-top: 20px;
}

li {
  background: rgb(252, 252, 202);
  padding: 10px;
  border-radius: 5px;
  margin-top: 5px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

#trashbtn:hover {
  cursor: pointer;
}

#editbtn:hover {
  cursor: pointer;
}

.completed .task-text {
  text-decoration:line-through;
  opacity: 0.6;
}
  /* I need to edit elements added in JS directly in JS? (nope just needed an id)
  
  #editbtn, #trashbtn {
    background-color: rgb(251, 251, 199);
    width: auto;
  }
  #trashbtn:hover {
    cursor: pointer;
  } */